<div class="row">
  <h1 class="text-dark text-center font-weight-bold mb-3">Materias</h1>
  <button routerLink="/schedule-create">Añadir</button>
</div>

<!-- <table class="table table-borderless  table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de creación</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of SubjectsList; index as i;">
      <td>
        <input class="form-control" type="text" name="{{'name'+item.id}}" id="{{'name'+item.id}}" value="{{item.name}}">
      </td>
      <td>{{item.created_at}}</td>
      <td><button class="btn btn-lg btn-block">
          <mat-icon (click)="editSubject($event, item.id)">save</mat-icon>
        </button>
      </td>
      <td><button class="btn btn-lg btn-block btn-delete">
          <mat-icon (click)="destrtoySubject($event, item.id)">delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
