/* table {
  width: 100%;
}

.table-container {
  margin: 50px 0;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
} */
p {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  display:inline-block;
  margin: 10px 8px 5px 8px;
  color: #b33939;
}

.btn{
  background-color: #04448c;
  color: #fff;
  max-width: 20px;
  max-height: 35px;
  padding: 0 1rem;
  margin: 1rem;
}

.btn-delete{
  background-color: #c0392b;
  color: #fff;

}

mat-icon{
  margin: 0 auto;
  padding: 0 auto;
}

th {
  color: #000000;
  font-size: large;
}

td {
  color: #000000;
  font-size: large;
}
