th {
  color: #000000;
  font-size: large;
}

td {
  color: #000000;
  font-size: large;
}

.btn-show {
  color: #04448c;
  cursor: pointer;
}

.page-link {
  font-size: large;
  color: #000;
  cursor: pointer;
}
