<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
      <img width="40" alt="iTeach Logo" src="https://i.ibb.co/pQvSRZK/logo.png" />
      <span>iTeach</span>

    </div> -->

<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over' && token !== 'null'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  iTeach
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <a routerLink="profile">
      <img class="avatar mat-elevation-z8"
        src="https://lh3.googleusercontent.com/xAWk7bgmFiDHyL2riheS8vRrCh9zQg3ZHVT9aK1_iJcRY7hjFKGagF0vsb35JevFhxW4=s85" />
    </a>

    <h4 class="name">Gricel Barrera</h4>
    <p class="designation">Student</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="schedule-list">
      <mat-icon>schedule</mat-icon>
      <span class="option-text">Horarios</span>
    </button>

    <button mat-button class="menu-button" routerLink="schedule-list">
      <mat-icon>subjects</mat-icon>
      <span class="option-text">Materias</span>
    </button>

    <button mat-button class="menu-button" routerLink="mySubjects">
      <mat-icon>subjects</mat-icon>
      <span class="option-text">Mis materias</span>
    </button>

    <button mat-button class="menu-button" routerLink="tutorship">
      <mat-icon>book</mat-icon>
      <span class="option-text">Tutorías</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>table</mat-icon>
      <span class="option-text">Agenda</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>history</mat-icon>
      <span class="option-text">Historial</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span class="option-text">About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span class="option-text">Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
