<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
      <img width="40" alt="iTeach Logo" src="https://i.ibb.co/pQvSRZK/logo.png" />
      <span>iTeach</span>

    </div> -->

<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over' && token !== 'null'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  iTeach
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8"
      src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/243523266_6292434467494181_1024531670139517342_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG2RhTVs21nhfQ8qtBGw4534-GNHsGHDvrj4Y0ewYcO-iwUcrmAFXcSjr-NtC-fm7WJWhGSQRmkUyJmCCweq6X-&_nc_ohc=MGppH__q1IEAX_mVHdh&_nc_ht=scontent-bog1-1.xx&oh=793353fd32742ca7dcd73dc65fc22f09&oe=61A7A0FA" />

    <h4 class="name">Kevin Díaz</h4>
    <p class="designation">Frontend Developer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span class="option-text">Perfil</span>
    </button>
    <button mat-button class="menu-button" routerLink="schedule-list">
      <mat-icon>schedule</mat-icon>
      <span class="option-text">Horarios</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span class="option-text">About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span class="option-text">Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
